* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}

.clearfix:after {
    clear:both;
}

.clearfix {
     *zoom:1;
}   
 
.header {
    height: 42px;
    margin: 30px auto;
}
.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.name {
    float: left;
    text-align: center;
    color: rgb(20, 152, 228);
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
}

.name:hover {
    font-size: 2.25em;    
}

.nav {
    float: left;
    margin: 0 200px;
}
.nav ul li {
    float: left;
    margin: 0 15px;
}
.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;   
}
.nav ul li a:hover {
    border-bottom: 2px solid red;
    color: red;
}

.user {
    float: right;
    margin-right: 30px;
}

.img1 {
    border-radius: 50%;
}


/* 轮播图 */
.swiper {
    width: 100%;
    height: 1080px;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-pagination-bullet {
    background: #fff!important;
}

/* 图片动画 */
/* 过渡部分 */
.middle {
position: relative;
width: 100%;
height: 200px;
background: -webkit-radial-gradient(top, red, black);
text-align: center;
}

.h-1 {
    position: absolute;
    top: 50px;
    right: 600px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgb(255, 16, 16);
    font-size: 5em;
}


/* mian区域 */
.Main {
    display: flex;
    width: 100%;
    height: 540px;
    background-color: black;
    justify-content: center;
}

.M {
    width: 260px;
    height: 520px;
    margin: 10px;
    background-color: #00a4ff;
}

.main {
    display: flex;
    width: 100%;
    height: 1100px;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;    
    align-content: flex-start;
}

.main span {
    width: 260px;
    height: 520px;
    background-color: #00a4ff;
    margin: 10px;
}

.footer-end {
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.f-2 {
    font-size: 50px;
}

.f-h {
    text-align: center;
}

.f-p {
    display: block;
    margin: 0 360px;
}